/* Responsive */

* {
  box-sizing: border-box;
}

/* Para móviles: */
[class*="col-"] {
  width: 100%;
  float: left;
}

@media only screen and (min-width: 600px) {
  /* Para tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* Para pantallas: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/* Header */

#myHeader {
  background-color: #19171c;
  width: 100%;
  float: left;
}

h1 {
    font-family: 'Lato', sans-serif;
    color: #079C9B;
    float: left;
    margin-left: 30px;
}

#menuIzq {
  float: left;
  }

#menuDer{
    float: right;
    margin-top: 2%;
    margin-bottom: 2%;
    }

.logo {
      width: 70px;
      float: left;
      margin-top: 1%;
      margin-left: 5%;
  }

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.form {
  float: right;
  margin-right: 5%;
}

#button {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    background-color:#079C9B; 
    border: 2px solid #079C9B;
    border-radius: 4px;
    padding: 4px;
}

#button:hover {
    background-color: white;
    border: 2px solid white;
    border-radius: 4px white;
    color: #079C9B;
    padding: 4px;
  }

  .iconf {
    float: right;
    width: 2em;
    color: white;
    margin-right: 5%;
    cursor: pointer;
  }
  
  #contador {
    color: white;
    float: right;
    margin: 0 6% 0 0;
  }  

/* Contenedor 1 Completamente a la izquierda */

.icon1 {
  width: 1em;
  margin-right: 5%;
}

  #contenedor1 {
      float: left;
      height: 100vh;
  }

  .foto {
      width: 90px;
      border-radius: 30px;
      margin-top: 30px;
  }
  
  .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  
  hr {
      border: 5px dotted #079C9B;
      width: 60%;
      border-bottom: none;
  }

  h1, h2 {
      font-family: 'Lato', sans-serif;
      color: #079C9B;
      text-align: center;
  }
 
.sidebar {
  padding: 0;
  width: 60%;
  background-color: #ccc;
  overflow: auto;
  margin: 0 20% 0 20%;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #079C9B;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: black;
  color: white;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0;
  }
  .sidebar a {float: left;}
}

@media only screen and (max-width: 768px) {
  #contenedor1 {
    height: 520px;
    padding: 10px;
  }
}

@media only screen and (max-width: 600px) {
  #contenedor1 {
    height: 400px;
  }
}

/* Contenedor 2 En el medio */

#contenedor2 {
  background-color: #EFEFEF;
  float: left;
  height: 170vh;
  position: relative;
}

 #previo2 {
   display: none;
 }

 #previo3 {
  display: none;
}

#previo4 {
  display: none;
}

#previo5 {
  display: none;
}

.contenedor-previo1 {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 14px;
  margin: 16px 15px;
  position: absolute;
}

.contenedor-previo1 img {
  float: left;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 50%;
  width: 15%;
}

.contenedor-previo1 span {
  font-size: 20px;
  margin-right: 5px;
  font-weight: bold;
}

.contenedor-previo2 {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 14px;
  margin: 16px 15px;
  position: absolute;
  margin-top: 200px;
}

.contenedor-previo2 img {
  float: left;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 50%;
  width: 15%;
}

.contenedor-previo2 span {
  font-size: 20px;
  margin-right: 5px;
  font-weight: bold;
}

.contenedor-previo3 {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 14px;
  margin: 16px 15px;
  position: absolute;
  margin-top: 385px;
}

.contenedor-previo3 img {
  float: left;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 50%;
  width: 15%;
}

.contenedor-previo3 span {
  font-size: 20px;
  margin-right: 5px;
  font-weight: bold;
}

#contenedor-previo4 {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 14px;
  margin: 16px 15px;
  position: absolute;
  margin-top: 570px;
  display: none;
}

#contenedor-previo4 img {
  float: left;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 50%;
  width: 15%;
}

#contenedor-previo4 span {
  font-size: 20px;
  margin-right: 5px;
  font-weight: bold;
}


@media (max-width: 500px) {
  .contenedor {
    text-align: center;
  }

  .contenedor img {
    margin: auto;
    float: none;
    display: block;
  }
}
  
  #title2 {
  margin-top: 20px;
  }

  .contenedor2-1 {
    margin-left: 8%;
    margin-top: 770px;
  }

  #respuesta {
    width: 90%;
    font-family: 'Source Sans Pro', sans-serif;
  }

  #button1 {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    background-color:#079C9B; 
    border: 2px solid #079C9B;
    border-radius: 4px;
    padding: 1px;
    margin-left: 70%;
    color: white;
    margin-bottom: 5%;
}

  #button1:hover {
    background-color: #000;
    border: 2px solid #000;
    border-radius: 4px #000;
    color: white;
    padding: 1px;
  }

  input[type=text], select {
    width: 70%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    color: white;
    cursor: pointer;
  }

  @media only screen and (max-width: 768px) {
    #contenedor2 {
      height: 900px;
    }
  }

  @media only screen and (max-width: 600px) {
    #contenedor2 {
      height: 1050px;
    }
  }

/* Contenedor 3 Completamente a la derecha */

#contenedor3 {
    float: left;  
    height: 100vh;
}

@media only screen and (max-width: 768px) {
  #contenedor3 {
    height: 400px;
  }
}

@media only screen and (max-width: 600px) {
  #contenedor3 {
    height: 400px;
}
}

#title3 {
  margin: 40px 0 25px 0;
}

.iconc {
  width: 1.25em;
  cursor: pointer;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.contenedor3-1 {
  border-radius: 5px;
  padding: 20px;
  margin-left: 40px;
}

.col-15 {
  float: left;
  width: 15%;
  margin-top: 20px;
}

.col-85 {
  float: left;
  width: 85%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */

.footer {
  width: 100%;
  background-color: #19171c;
  color: white;
  text-align: center;
  float: left;
}

.footer-link {
  margin-left: 5px;
  text-decoration: none;
  padding: 20px 0;
  color: white;
  width: 2em;
}
